<html>
<head>
    $gin{template "head" .}
    <title>KWANJAI - Email</title>
</head>
<v-app id="app">
    $gin{template "navbar" .}
    <v-main>
        <v-container>
            <v-row no-gutters>
                <v-col cols="12" align="center">
                    <v-card max-width="500px">
                        <v-card-title>
                            Please enter the received key
                        </v-card-title>
                        <v-card-text>
                            <v-form id="emailVerificationForm">
                                <v-text-field label="key" v-model="emailKey"></v-text-field>
                            </v-form>
                            <v-card-actions class="justify-center">
                                <v-btn :loading="clickedVerifyEmail" color="info" @click="clickedVerifyEmail = true; verifyEmail()">verify</v-btn>
                            </v-card-actions>
                        </v-card-text>    
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-main>
</v-app>

</html>
$gin{template "script" .}