<html>

<head>
    $gin{template "head" .}
    <title>Loading...</title>
</head>
<v-app id="app">
    $gin{template "navbar" .}
    <v-main>
        <template v-if="!thisProjectIsLoaded">
            <v-progress-linear indeterminate></v-progress-linear>
        </template>
        <v-container id="project" v-else>
            <v-row>
                <v-col cols="12" :class="$vuetify.breakpoint.smAndDown ? 'text-center text-h2' : 'text-center text-h1'">
                    {{ thisProject.name }}</v-col>
                <v-col cols="2" :class="$vuetify.breakpoint.smAndDown ? 'text-h6' : 'text-h4'">Owner</v-col>
                <v-col cols="10" :class="$vuetify.breakpoint.smAndDown ? 'text-h6' : 'text-h4'">Members</v-col>
                <v-col cols="2" :class="$vuetify.breakpoint.smAndDown ? '' : 'text-h4'">{{ thisProject.user }}</v-col>
                <v-col :cols="$vuetify.breakpoint.smAndDown ? 10 : 5">
                    <v-tooltip
                        v-for="(member, index) in thisProject.members.filter((element, index) => {return index <= ($vuetify.breakpoint.smAndDown ? 4 :9)} )"
                        :key="index" bottom>
                        <template #activator="{ on, attrs }">
                            <v-avatar size="35" v-bind="attrs" v-on="on">
                                <img :src="`https://storage.googleapis.com/kwanjai-a3803.appspot.com/${member}.png`"
                                    @error="defaultProfilePicture" />
                            </v-avatar>
                        </template>
                        <span>{{ member }}</span>
                    </v-tooltip>
                    <v-tooltip v-if="thisProject.members.length > ($vuetify.breakpoint.smAndDown ? 4 :9)" bottom>
                        <template #activator="{ on, attrs }">
                            <v-avatar size="35" v-bind="attrs" v-on="on" @click="showAllProjectMembers = true">
                                +{{ thisProject.members.length - ($vuetify.breakpoint.smAndDown ? 4 :9)}}
                            </v-avatar>
                        </template>
                        <span>+{{ thisProject.members.length - ($vuetify.breakpoint.smAndDown ? 4 :9)}}</span>
                        <v-dialog v-model="showAllProjectMembers" hide-overlay max-width="500px">
                            <v-card>
                                <v-card-title>
                                    Members
                                </v-card-title>
                                <v-card-text v-for="(member, index) in thisProject.members" :key="index">
                                    <v-row no-gutters>
                                        <v-col cols="2">
                                            {{ member }}
                                        </v-col>
                                        <v-col cols="10">
                                            <v-avatar><img
                                                    :src="`https://storage.googleapis.com/kwanjai-a3803.appspot.com/${member}.png`"
                                                    @error="defaultProfilePicture" /></v-avatar>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </v-tooltip>
                    <v-dialog v-model="projectUpdateFormIsActivated" hide-overlay max-width="500px">
                        <v-card>
                            <v-form id="projectUpdateForm"
                                @submit.prevent="clickedUpdateProject = true; updateProject()">
                                <v-card-title class="text-h6 pb-0">
                                    Project Name
                                </v-card-title>
                                <v-card-text>
                                    <v-text-field hide-details="auto" required v-model="newProjectData.name"
                                        label="Project Name">
                                    </v-text-field>
                                </v-card-text>
                                <v-card-title class="text-h6 py-0">
                                    Members
                                </v-card-title>
                                <v-card-text>
                                    <v-select hide-details="auto" v-model="newProjectData.members" label="members"
                                        hint="owner is already included" persistent-hint
                                        :items="allUsernames.filter(username => {return username !== getUser.profile.username})"
                                        chips multiple />
                                </v-card-text>
                                <v-card-actions class="justify-center">
                                    <v-btn text type="submit" form="projectUpdateForm" color="info"
                                        :loading="clickedUpdateProject">update
                                    </v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-card>
                    </v-dialog>
                </v-col>
                <v-col :cols="$vuetify.breakpoint.smAndDown ? 12 : 5"
                    :align="$vuetify.breakpoint.smAndDown ? 'center' : 'end'">
                    <v-btn :x-small="$vuetify.breakpoint.smAndDown" @click="activeProjectUpdater(null, thisProject)">
                        <v-icon :x-small="$vuetify.breakpoint.smAndDown">mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn :x-small="$vuetify.breakpoint.smAndDown" :disabled="exceedBoardLimit"
                        @click="newBoardFormIsActivate = true">
                        {{ !exceedBoardLimit ? 'New board' : 'Please upgrade plan for add more board'}}</v-btn>
                </v-col>
                <v-dialog v-model="newBoardFormIsActivate" hide-overlay max-width="500px">
                    <v-card>
                        <v-form @submit.prevent="addBoard(newBoardForm.name); newBoardFormIsActivate = false">
                            <v-card-text>
                                <v-text-field v-model="newBoardForm.name" label="Board name" required></v-text-field>
                            </v-card-text>
                            <v-card-actions class="justify-center">
                                <v-btn type="submit" color="info">add</v-btn>
                            </v-card-actions>
                        </v-form>
                    </v-card>
                </v-dialog>
            </v-row>
            <v-row>
                <v-dialog v-model="newPostFormIsActivated" hide-overlay max-width="600px">
                    <v-card>
                        <v-card-text class="text-center pt-2">
                            <v-form id="newPostForm"
                                @submit.prevent="newPostFormIsActivated = false; addPost({project: thisProject.id, board: newPostForm.board, title: newPostForm.title, content: newPostForm.content, due_date: newPostForm.due_date})">
                                <v-text-field label="post title" v-model="newPostForm.title" required>
                                </v-text-field>
                                <v-text-field label="post content" v-model="newPostForm.content" required>
                                </v-text-field>
                                <v-text-field v-model="newPostForm.due_date" label="due date"
                                    prepend-icon="mdi-calendar" readonly required></v-text-field>
                                <v-date-picker v-model="newPostForm.due_date"
                                    :min="new Date().toISOString().substr(0, 10)">
                                </v-date-picker>
                            </v-form>
                        </v-card-text>
                        <v-card-actions class="justify-center">
                            <v-btn type="submit" form="newPostForm" color="info">
                                New post
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="updateBoardFormIsActivate" hide-overlay max-width="500px">
                    <v-card>
                        <v-form id="boardUpdateForm" @submit.prevent="clickedUpdateBoard = true; updateBoard()">
                            <v-card-text>
                                <v-text-field hide-details="auto" required v-model="newBoardData.name"
                                    label="board name"></v-text-field>
                            </v-card-text>
                            <v-card-actions class="justify-center">
                                <v-btn text type="submit" form="boardUpdateForm" color="info"
                                    :loading="clickedUpdateBoard">update
                                </v-btn>
                            </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="updatePostFormIsActivated" hide-overlay max-width="500px">
                    <v-card>
                        <v-card-text class="text-center pt-2">
                            <v-form id="updatePostForm" @submit.prevent="updatePost()">
                                <v-text-field label="post title" v-model="newPostData.title" required>
                                </v-text-field>
                                <v-text-field label="post content" v-model="newPostData.content" required>
                                </v-text-field>
                                <v-select hide-details="auto" v-model="newPostData.people" label="People"
                                    :items="thisProject.members" chips multiple></v-select>
                                <v-text-field v-model="newPostData.due_date" label="due date"
                                    prepend-icon="mdi-calendar" readonly required>
                                </v-text-field>
                                <v-date-picker v-model="newPostData.due_date"
                                    :min="new Date().toISOString().substr(0, 10)">
                                </v-date-picker>
                            </v-form>
                        </v-card-text>
                        <v-card-actions class="justify-center">
                            <v-btn :loading="clickedUpdatePost" type="submit" form="updatePostForm" color="info">
                                update
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-col v-for="board in allBoards" :key="board.id" :cols="cardCols">
                    <v-card :class="!$vuetify.theme.dark ? 'pb-1 secondary' : 'pb-1 secondary'">
                        <v-card-actions class="pb-0">
                            <v-btn v-if="$vuetify.breakpoint.smAndDown" x-small icon :loading="!board.id"
                                @click="newPostFormIsActivated = true, newPostForm.board = board.id">
                                <v-icon x-small>mdi-plus</v-icon>
                            </v-btn>
                            <v-btn v-else x-small :loading="!board.id"
                                @click="newPostFormIsActivated = true, newPostForm.board = board.id">
                                new post</v-btn>
                            <v-spacer></v-spacer>
                            <v-btn :loading="!board.id" icon x-small @click="activeBoardUpdater(board.id)">
                                <v-icon x-small>mdi-pencil</v-icon>
                            </v-btn>
                            <v-btn :loading="!board.id" icon x-small @click="removeBoard({id: board.id})">
                                <v-icon x-small>mdi-delete</v-icon>
                            </v-btn>
                            <v-btn :loading="!board.id" icon x-small @click="moveBoard({id: board.id, action: 'down'})">
                                <v-icon x-small>mdi-menu-left</v-icon>
                            </v-btn>
                            <v-btn :loading="!board.id" icon x-small @click="moveBoard({id: board.id, action: 'up'})">
                                <v-icon x-small>mdi-menu-right</v-icon>
                            </v-btn>
                        </v-card-actions>
                        <v-card-title :class="$vuetify.breakpoint.smAndDown ? 'py-2' : 'py-2 text-h5'">
                            {{ board.name }}
                        </v-card-title>

                        <v-card class="ma-2" v-for="post in allPosts.filter(post => {return post.board == board.id})"
                            :style="`border-left: 4px solid ${post.completed ? 'green' : (new Date(post.due_date) < new Date() ? 'red' : (post.urgent ? 'orange': ''))}`">
                            <v-card-actions class="pb-0">
                                <v-btn x-small icon :loading="!post.id" :color="post.completed ? 'green' : ''"
                                    @click="toggleCompleteStatus({id: post.id, board: post.board})">
                                    <v-icon x-small>mdi-check</v-icon>
                                </v-btn>
                                <v-btn x-small icon :loading="!post.id" :color="post.urgent ? 'orange' : ''"
                                    @click="toggleUrgentStatus({id: post.id, board: post.board})">
                                    <v-icon x-small>mdi-exclamation</v-icon>
                                </v-btn>
                                <v-btn x-small icon :loading="!post.id" @click="activePostUpdater(post.id)">
                                    <v-icon x-small>mdi-pencil</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn :loading="!post.id" icon x-small
                                    @click="movePost({id: post.id, board: post.board, action: 'down'})">
                                    <v-icon x-small>mdi-menu-left</v-icon>
                                </v-btn>
                                <v-btn :loading="!post.id" icon x-small
                                    @click="movePost({id: post.id, board: post.board, action: 'up'})">
                                    <v-icon x-small>mdi-menu-right</v-icon>
                                </v-btn>
                            </v-card-actions>
                            <v-card-title class="pt-0">
                                {{ post.title }}
                            </v-card-title>
                            <v-card-subtitle>
                                Added by: {{ post.user }}
                            </v-card-subtitle>
                            <v-card-text :class="`${!$vuetify.theme.dark ? 'black--text py-0' : 'white--text py-0'}`">
                                {{ post.content}}
                            </v-card-text>
                            <v-card-subtitle>
                                Due: {{ new Date(post.due_date).toLocaleString().substring(0,10) }}
                            </v-card-subtitle>
                        </v-card>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-main>
</v-app>

</html>
$gin{template "script" .}