<html>
<head>
    $gin{template "head" .}
    <title>Loading...</title>
</head>
<v-app id="app">
    $gin{template "navbar" .}
    <v-main>
        <template v-if="!thisProjectIsLoaded">
            <v-progress-linear indeterminate></v-progress-linear>
        </template>
        <v-container id="project" v-else>
            <v-row>
                <v-col cols="12" class="text-center text-h1">{{ thisProject.name }}</v-col>
                <v-col cols="2" class="text-h4">Owner</v-col>
                <v-col cols="10" class="text-h4">Members</v-col>
                <v-col cols="2" class="text-h6">{{ thisProject.user }}</v-col>
                <v-col cols="8">
                <v-tooltip v-for="(member, index) in thisProject.members" :key="index" bottom>
                    <template #activator="{ on, attrs }">
                        <v-avatar size="35" v-bind="attrs" v-on="on">
                            <img :src="`https://storage.googleapis.com/kwanjai-a3803.appspot.com/${member}.png`" @error="defaultProfilePicture" />
                        </v-avatar>
                    </template>
                    <span>{{ member }}</span>
                </v-tooltip>
                </v-col>
                <v-col cols="2" align="end">
                    <v-btn>add new board</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </v-main>
</v-app>

</html>
$gin{template "script" .}